{
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "decorators": true,
      "dynamicImport": true,
      "tsx": true
    },
    "transform": {
      "legacyDecorator": true,
      "decoratorMetadata": true
    },
    "target": "es2019",
    "keepClassNames": true,
    "loose": true
  },
  "module": {
    "noInterop": false,
    "type": "commonjs",
    "strict": true,
    "strictMode": true,
    "lazy": true
  },
  "sourceMaps": "inline"
}
